body{
    background-image: url("./bg.jpg");
    background-size: cover;
    max-width: 100%;
    overflow-x:hidden;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #0087ca;
}

.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

#content{
  height:82vh;
  margin-top:2vh;
  width:60%;
  overflow-x:hidden;
  overflow-y:auto;
  background-color:peachpuff;
  padding:10px;
  visibility:hidden;
}

#head{
  margin-left:20%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  visibility:hidden;
  /* color: ; */
}